/* NAME Template */

/* colors:
    Text #202020;
*/

/* fonts available */
/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Playfair Display', serif;
*/

/* global */

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

header ul,
footer ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: #fff;
    font-family: 'Playfair Display', serif;
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1820px;
    padding-left: 10px;
    padding-right: 10px;
}

/* end global */

/*  HEADER  */
header {
    padding: 0 30px;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#header-container a {
    text-decoration: none;
}

.header-left {
    align-self: center;
    order: 1;
    flex-grow: 1;
}

#logo {
    margin-bottom: 16px;
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.header-middle {
    order: 2;
    align-self: center;
}

.header-right {
    align-self: center;
    order: 3;
    flex-grow: 1;
}

#mainnav-container ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    width: 100%;
}

#mainnav-container ul li a {
    text-decoration: none;
    color: #202020;
}

/*  END HEADER  */

/*  HOME PAGE  */
section:first-of-type {
    margin-top: 0px;
}

section {
    margin-bottom: 50px;
}

section:last-of-type {
    margin-bottom: 0px;
}

section h1 {
    font-size: 60px;
    line-height: 65px;
}

section h2 {
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    margin: 20px auto;
}

#home,
#bio {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#home div,
#bio div {
    position: relative;
    text-align: center;
    padding: 30px 20px;
    background-color: #fff;
}

.home-text {
    margin-right: -150px;
    z-index: 99;
}

.bio-text {
    margin-left: -150px;
    z-index: 99;
}

#bio p {
    font-family: 'Roboto', sans-serif;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projects-container div {
    position: relative;
}

.projects-container div img {
    width: 100%;
    height: auto;
    display: block;
}

.projects-container div p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.projects-container div p span {
    font-size: 30px;
    line-height: 35px;
}

.projects-container div a {
    text-decoration: none;
    color: #fff;
    background-color: #202020;
    border: 1px solid #202020;
    display: inline-block;
    margin-top: 20px;
    padding: 5px 10px;
    width: 110px;
    font-family: 'Roboto', sans-serif;
}

.projects-container div a:hover {
    color: #202020;
    background-color: #fff;
}

#contact div {
    text-align: center;
    background-color: #ccc;
    width: 100%;
}

#contact p {
    font-size: 20px;
    padding: 30px;
}

#contact a {
    text-decoration: none;
    color: #fff;
    background-color: #202020;
    border: 1px solid #202020;
    display: inline-block;
    margin-top: 20px;
    padding: 5px 10px;
    width: 110px;
    font-family: 'Roboto', sans-serif;
}

#contact a:hover {
    color: #202020;
    background-color: #fff;
}

/*  END HOME PAGE */

/*  FOOTER  */
footer {
    margin-top: 50px;
    background-color: #202020;
}

#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-left {
    align-self: center;
    order: 1;
    flex-grow: 1;
    text-align: left;
}

.footer-middle {
    align-self: center;
    order: 2;
    text-align: center;
    color: #fff;
    padding: 20px 0;
}

.footer-right {
    align-self: center;
    order: 3;
    flex-grow: 1;
    text-align: right;
}

#scroll-div {
    display: none;
}

/*  END FOOTER  */

@media screen and (min-width: 1350px) {

    #scroll-div {
        display: block;
    }

    #scroll-div a {
        font-size: 14px;
        font-weight: normal;
    }

    .scroll-to-top {
        width: 30px;
        height: 30px;
        padding: 10px;
        text-align: center;
        color: #cfcfcf;
        text-decoration: none;
        position: fixed;
        bottom: 30px;
        right: 20px;
        display: none;
    }

    .scroll-to-top:hover {
        color: #a2a2a2;
        text-decoration: none;
    }

}

@media (max-width:768px) {
    section h1 {
        font-size: 50px;
    }

    section h2 {
        text-align: center;
        font-size: 25px;
    }

    .projects-container div p span {
        font-size: 25px;
    }

    #home,
    #bio {
        grid-template-columns: 100%;
    }

    #contact p {
        font-size: 16px;
    }

    .projects-container {
        grid-template-columns: 50% 50%;
    }

    .projects-container img {
        padding: 10px;
    }

    .bio-text,
    .home-text {
        margin-left: unset;
        margin-right: unset;
    }
}
